PORT=3000
DB_URL=mongodb+srv://udaykene96_db_user:RfxvEWodVIqjxnvc@interview-system.dsbrz35.mongodb.net/interview_db
NODE_ENV=development
SERVER_URL=http://localhost:3000
CLIENT_URL=http://localhost:5173
ADMIN_EMAILS=admin@example.com,second@example.com

# Authentication Secrets
SESSION_SECRET=your_generated_random_string_1
JWT_ACCESS_SECRET=your_generated_random_string_2
JWT_REFRESH_SECRET=your_generated_random_string_3

# Google OAuth
GOOGLE_CLIENT_ID=your_google_id.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your_google_secret

# GitHub OAuth
GITHUB_CLIENT_ID=your_github_id
GITHUB_CLIENT_SECRET=your_github_secret

# Get Stream from your current env
STREAM_API_KEY=ra6dqzcne8sd
STREAM_API_SECRET=c7ud6hpvvkpgm3ka2dpegpv2w3rjb7rsqdpjfe398e4r7nad4s36m9z8286y458v
